#footer {
  background-color: $main-sec;
  padding-top: 50px;
  .row {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    @media #{$sm} {
      flex-wrap: wrap;
      text-align: center;
      justify-content: center;
    }
  }
}

#ornament-footer {
  position: relative;
  width: 10%;
  transform: translateY(50px);
  svg {
    opacity: 0.1;
    position: absolute;
    bottom: 0;
    path {
      fill: #00aa13;
    }
  }
  // bottom: 0;
}
